body {
    background-color: black;	
    color: white;
}
h1, h2 {
    text-align: right;
    font-family: Arial, sans-serif;
    color: red;
}

em {
    color: green;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}		